 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Super-Hero Webpage</h1>
    <p>Learn about different Super-heroes</p>
</div>
<br /><br />
<div class="text-center">
    <img src="https://i2.wp.com/freepngimages.com/wp-content/uploads/2015/07/Spiderman.png?fit=655%2C562" alt="Spider-Man" />
</div>

