 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Super-hero Webpage</h1>
    <p>Learn about different Super-heroes</p>
</div>
<br /><br />

